:root{
   --success: #1abc9c;
   --color: #34495e;
}


header > h1, h2{
   margin-top: 170px;
   margin-left: 170px;
   color: var(--color);
}


.btn-outline {
   margin-top: 60px;
   margin-left: 750px;
   margin-bottom: 350px;
   color: var(--success) !important;
   font-weight: bolder;
}

.btn-link {
   margin-top: 40px;
   margin-left: 100px;
   margin-bottom: 60px;
   color: var(--success) !important;
   font-weight: bolder;
}

span {
   color: var(--success);
   font-size: 65px;
   font-weight: 600;
}

.card{
   margin-left: 30px;
   background-color: var(--success);
  
}

.card-text {
   letter-spacing: 0.1px;
}

.aboutme {
   background-color: var(--success);
   text-align: justify;
}

.titre {
   text-align: center;
   font-size: 4rem;
   font-weight: 700;
   margin-top: 50px;
   color: var(--color);
}

footer, .container {
   background-color: var(--color);
   color: aliceblue;
}

.pied {
   text-align: right;
}

.pied2 {
   text-align: left;
}

.pied3 {
   margin-left: 590px;
}
